@model CAT.Models.SoldMoment_Models.SoldMomentDetails

@{
    ViewBag.Title = "Delete";
}

<!--header information-->
<div class="container text-danger p-3" style="min-width: 1000px;">
    <div class="row" style="min-height: 8vh;">
        <section class="col align-self-end">
            <h1 class="display-4" style="font-weight: 500">
                Remove Sold Asset
            </h1>
        </section>
        <div class="w-100"></div>
        <section class="col align-self-center">
            <span style="font-weight: 200; font-size: 18px;">
                WARNING: Removing a Sold Asset cannot be undone.
            </span>
        </section>
    </div><!--row-->
</div><!--container-->

<div class="container containerGradient card_container p-3" style="min-width: 1000px">
    <div class="row d-flex justify-content-center pb-1">
        <div class="col-6">
            <div class="card mx-auto box_shadow">
                <div class="picture_container">
                    <img class="card-img-top box_shadow" src="~/Images/500x500_placeholder.png" alt="Player Picture Placeholder">
                    @{var mint = (int)Model.MomentMint;}
                    <h1 class=" display-4 top_left_text text-white">
                        @Html.DisplayFor(model => model.MomentTier)
                    </h1>
                    <h1 class=" display-4 bottom_right_text @(mint == 1 ? "limited" : "common")">
                        @Html.DisplayFor(model => model.Mint)
                    </h1>
                </div> <!--picture container-->
                <div class="container p-2">
                    <h5 class="text-center text-info display-4">@Html.DisplayFor(model => model.PlayerFullName)</h5>
                    <hr class="bg-dark" />
                    <h5 class="text-center mb-2 text-muted">@Html.DisplayFor(model => model.MomentComplete)</h5>
                    <hr class="bg-dark" />
                    <div class="row text-center align-items-center">
                        <section class="col">
                            <h5>Price</h5>
                            <h5 class="text-muted">$@Html.DisplayFor(model => model.IndividualMomentPrice)</h5>
                            <hr class="bg-dark" />
                        </section>
                        <section class="col">
                            <h5>Serial/Edition Size</h5>
                            <h5 class="text-muted">@Html.DisplayFor(model => model.SerialComplete)</h5>
                            <hr class="bg-dark" />
                        </section>
                    </div>
                    <div class="bg-danger text-center mb-2 text-white pb-1">
                        <h1>
                            Sold Asset <br />
                            <i class="fas fa-camera-retro text-white" style="font-size: 38px;"></i>
                            Snapshot
                        </h1>
                    </div>
                    <hr class="bg-dark" />
                    <div class="row text-center align-items-center">
                        <section class="col">
                            <h5>Sold For:</h5>
                            <h5 class="bluebox">$@Html.DisplayFor(model => model.SoldForAmount)</h5>
                            <hr class="bg-dark" />
                        </section>
                        <!--Profit/Loss-->
                        <section class="col">
                            @{var profitLoss = (int)Model.ProfitLoss;}
                            <h5>Profit/Loss:</h5>
                            <h5 class="@(profitLoss >= 0 ? "greenbox" : "redbox")">
                                $@Html.DisplayFor(model => model.ProfitLoss)
                            </h5>
                            <hr class="bg-dark" />
                        </section>
                        <!--ROI-->
                        <section class="col">
                            <h5>ROI:</h5>
                            @{var roi = (int)Model.DisplayIndividualROI;}
                            <h5 class="@(roi >= 0 ? "greenbox" : "redbox")">
                                @Html.DisplayFor(model => model.DisplayIndividualROI)%
                            </h5>
                            <hr class="bg-dark" />
                        </section>
                    </div><!--row-->
                    <!--remove button-->
                    <div class="row text-center">
                        <div class="col">
                            <h3 class="text-center mb-2">Are you sure you want to remove Sold Asset?</h3>
                            <p class="text-center text-muted">Sold Asset values will no longer be available for calculation.</p>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="col form-actions">
                                    <button type="submit" class="btn btn-danger" style="font-size: 20px;">
                                        <i class="fas fa-trash text-white" style="font-size: 24px;"></i>
                                        Remove Sold Asset
                                    </button>
                                </div><!--col-->
                            }
                        </div><!--col-->
                    </div><!--row-->
                </div><!--card text-->
            </div><!--card-->
        </div><!--col-->
    </div><!--row-->
</div><!--container-->

<!--nav button-->
<div class="container p-3" style="min-width: 1000px;">
    <div class="row text-right">
        <div class="col form-group">
            <a class="btn btn-outline-info" style="font-size: 20px;" href="@Url.Content("~/SoldMoment/Index")">
                <i class="fas fa-arrow-left text-warning" style="font-size: 24px;"></i> Back to Sold Assets
            </a>
        </div>
    </div>
</div>

@section Scripts {
}