@model IEnumerable<CAT.Models.SoldMoment_Models.SoldMomentIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>

        @TempData["SaveResult"]
    </div>
}

<div class="container bg-primary">
    <div class="row text-justify">
        <section class="col-xs-4">
            <h3>
                Moment Value:
                @if (Model.Any())
                {
                    @Html.DisplayFor(modelItem => Model.Last().MomentTotalValue)
                }
            </h3>
        </section>

        <section class="col-xs-4">
            <h3>
                Profit/Loss:
                @*@if (Model.Any())
                    {
                        @Html.DisplayFor(modelItem => Model.Last().MomentTotalValue)
                    }*@
            </h3>
        </section>

        <section class="col-xs-4">
            <h3>
                Moment Count:
                @if (Model.Any())
                {
                    @Html.DisplayFor(modelItem => Model.Last().MomentCount)
                }
            </h3>
        </section>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerFullName)
        </th>
        <th>
            @Html.Label("Sold For (Purchased For)")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentSet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentSerialNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFullName)
            </td>
            <td @*class="@(item.SoldForAmount > 0? "green" : item.SoldForAmount < 0? "red": "normal")"*@>
                $@Html.DisplayFor(modelItem => item.SoldForAmount) ($@Html.DisplayFor(modelItem => item.IndividualMomentPrice))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mint)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SoldMomentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SoldMomentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SoldMomentId })
            </td>
        </tr>
    }

</table>
