@using CAT.WebMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<!--header information-->
<div class="container text-white p-2 topContainer" style="min-width: 1000px;">
    <div class="row" style="min-height: 8vh;">
        <section class="col align-self-end">
            <h1 class="display-4">
                Log In
            </h1>
        </section>
        <div class="w-100"></div>
        <section class="col align-self-center">
            <span style="font-weight: 200; font-size: 18px;">
                To log in, please enter your username and password below.
            </span>
        </section>
    </div><!--row-->
</div><!--container-->

<!--form-->
<div class="container containerGradient p-3" style="min-width: 1000px;">
    <div class="row">
        <div class="col">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Welcome back! Please log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="col form-actions">
                        <button type="submit" class="btn btn-info" style="font-size: 20px;">
                            <i class="fas fa-sign-in-alt text-warning" style="font-size: 24px;"></i>
                            Log in
                        </button>
                        <span class="p-3">or</span>
                        <a href="@Url.Action("Register")" class="btn btn-info" style="font-size: 20px;">
                            <i class="fas fa-user-plus text-warning" style="font-size: 24px;"></i>
                            Register as a New User
                        </a>
                    </div><!--col-->

                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section><!--form group-->
        </div><!--col-->
        <!--<-->@*div class="col">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div><!--row-->
</div><!--container-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}