@model CAT.WebMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!--header information-->
<div class="container text-white p-2" style="min-width: 1000px;">
    <div class="row" style="min-height: 8vh;">
        <section class="col align-self-end">
            <h1 class="display-4">
                Sign Up
            </h1>
        </section>
        <div class="w-100"></div>
        <section class="col align-self-center">
            <span style="font-weight: 200; font-size: 18px;">
                To sign up, please fill out the form below.
            </span>
        </section>
    </div><!--row-->
</div><!--container-->

<!--form-->
<div class="container containerGradient p-3" style="min-width: 1000px;">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Register a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="col form-actions">
            <button type="submit" class="btn btn-info" style="font-size: 20px;">
                <i class="fas fa-user-plus text-warning" style="font-size: 24px;"></i>
                Sign Up
            </button>
        </div>
    }
</div><!--container-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
