@model CAT.Models.Showcase_Models.ShowcaseCreate

@{
    ViewBag.Title = "Create";
}

<!--header-->
<div class="container text-white p-2" style="min-width: 1000px;">
    <div class="row" style="min-height: 8vh;">
        <section class="col align-self-end">
            <h1 class="display-4">
                New Collection
            </h1>
        </section>
        <div class="w-100"></div>
        <section class="col align-self-center">
            <span style="font-weight: 200; font-size: 18px;">
                To add a new Collection, please fill out the form below.
            </span>
        </section>
    </div><!--row-->
</div><!--container-->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container containerGradient p-3" style="min-width: 1000px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row align-items-center d-flex justify-content-center">
                <div class="col-4">
                    <div class="form-group">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.ShowcaseName, new { htmlAttributes = new { @class = "form-control", placeholder = "Name your Collection." } })
                            @Html.ValidationMessageFor(model => model.ShowcaseName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShowcaseDescription, htmlAttributes: new { @class = "control-label col" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.ShowcaseDescription, new { htmlAttributes = new { @class = "form-control", placeholder = "Give your Collection a brief description." } })
                            @Html.ValidationMessageFor(model => model.ShowcaseDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <p style="font-size: 20px;">That's it! Assets can be added to a Collection on the main Collections page.</p>
                        </div>
                    </div>
                    <div class="col form-group">
                        <button type="submit" class="btn btn-info" style="font-size: 20px;">
                            <i class="far fa-clone text-warning" style="font-size: 24px;"></i>
                            Add Collection
                        </button>
                    </div>
                </div><!--col-->
            </div><!--row-->
        </div><!--container-->
        <!--submit/nav buttons-->
        <div class="container p-3" style="min-width: 1000px;">
            <div class="row text-right">
                <div class="col">
                    <a class="btn btn-outline-info" style="font-size: 20px;" href="@Url.Content("~/Showcase/Index")">
                        <i class="fas fa-arrow-left text-warning" style="font-size: 24px;"></i> Back to Collections
                    </a>
                </div>
            </div>
        </div>
    </div><!--form-->
}

@section Scripts {

}
