@model CAT.Models.Showcase_Models.ShowcaseEdit

@{
    ViewBag.Title = "Edit";
}

<div class="container text-white p-2" style="min-width: 1000px;">
    <div class="row" style="min-height: 8vh;">
        <section class="col align-self-end">
            <h1 class="display-4">
                Modify Collection
            </h1>
        </section>
        <div class="w-100"></div>
        <section class="col align-self-center">
            <span style="font-weight: 200; font-size: 18px;">
                To modify Collection, please fill out the form below.
            </span>
        </section>
    </div><!--row-->
</div><!--container-->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ShowcaseId)

    <div class="form-horizontal">
        <div class="container containerGradient p-3" style="min-width: 1000px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row align-items-center d-flex justify-content-center">
                <div class="col-lg-4 col-lg-offset-4">
                    <!--Name-->
                    <div class="form-group">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.ShowcaseName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShowcaseName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--Description-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShowcaseDescription, htmlAttributes: new { @class = "control-label col" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.ShowcaseDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ShowcaseDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col form-group pt-3 pb-2">
                        <button type="submit" class="btn btn-info" style="font-size: 20px;">
                            <i class="far fa-clone text-warning" style="font-size: 24px;"></i>
                            Modify Collection
                        </button>
                    </div>
                    <div class="col form-group">
                        <p style="font-size: 20px;">Trying to add an Asset to this Collection?</p>
                        <a class="btn btn-info" style="font-size: 20px;" href="@Url.Content("~/MomentShowcase/Create")">
                            <i class="fas fa-basketball-ball text-warning" style="font-size: 24px;"></i>
                            Add Asset to
                            <i class="far fa-clone text-warning" style="font-size: 24px;"></i>
                            Collection
                        </a>
                    </div>
                </div><!--col-->
            </div><!--row-->
        </div><!--container-->
        <!--submit/nav buttons-->
        <div class="container p-3" style="min-width: 1000px;">
            <div class="row text-right">
                <div class="col">
                    <a class="btn btn-outline-info" style="font-size: 20px;" href="@Url.Content("~/Showcase/Index")">
                        <i class="fas fa-arrow-left text-warning" style="font-size: 24px;"></i> Back to Collections
                    </a>
                </div>
            </div>
        </div>
    </div><!--form-->
}

@section Scripts {

}
