@model CAT.Models.Player_Models.PlayerDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moments)
        </dt>

        @foreach (var item in Model.Moments)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.MomentComplete) -
                @Html.ActionLink("View Moment", "Details", "Moment", new { id = item.MomentId }, null)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


