@using PagedList;
@using PagedList.Mvc;

@model IPagedList<CAT.Models.PlayerIndex>

@{
    ViewBag.Title = "Index";
}

<!--header information-->
<div class="container text-info p-2" style="min-width: 1000px;">
    <div class="row" style="min-height: 8vh;">
        <section class="col align-self-end">
            <h1 class="display-4" style="font-weight: 500">
                Players
            </h1>
        </section>
        <div class="w-100"></div>
        <section class="col align-self-center">
            <span style="font-weight: 200; font-size: 18px;">
                Below is a list of all Players.
            </span>
        </section>
    </div><!--row-->
</div><!--container-->

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="container" style="min-width: 1000px;">
        <div class="alert alert-success carousel-fade" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    </div>
}

<!--container-->
<div class="container containerGradient p-3" style="min-width: 1000px;">
    <div class="row d-flex justify-content-center">
        @foreach (var item in Model.OrderBy(i => i.PlayerLastName))
        {
            <div class="col-4 pb-4">
                <div class="card mx-auto box_shadow">
                    <div class="picture_container">
                        <img class="card-img-top box_shadow" src="~/Images/500x500_placeholder.png" alt="Player Picture Placeholder" />
                        <h2 class="top_left_text text-white">
                            @Html.DisplayFor(itemModel => item.PlayerFullName)
                        </h2>
                    </div>
                    <div class="container p-2 text-center">
                        <div class="row no-gutters d-flex justify-content-center">
                            <section class="col-5">
                                <h5 class="text-info">
                                    @Html.DisplayFor(itemModel => item.Position)
                                </h5>
                                <hr class="bg-dark" />
                            </section>
                            <section class="col">
                                <span class="text-muted" style="font-size: 14px">for the</span>
                            </section>
                            <section class="col-5">
                                <h5 class="text-info">
                                    @Html.DisplayFor(itemModel => item.PlayerTeam)
                                </h5>
                                <hr class="bg-dark" />
                            </section>
                        </div>
                        <div class="card-subtitle text-center">
                            <h6>Player Management</h6>
                            <a href="@Url.Action("Edit", "Player", new { id = item.PlayerId } )" class="btn btn-info" style="font-size: 16px;">
                                <i class="fas fa-edit text-warning" style="font-size: 20px;"></i>
                                Update
                            </a>
                            <a href="@Url.Action("Details", "Player", new { id = item.PlayerId } )" class="btn btn-info" style="font-size: 16px;">
                                <i class="fas fa-running text-warning" style="font-size: 20px;"></i>
                                Inspect
                            </a>
                            <a href="@Url.Action("Delete", "Player", new { id = item.PlayerId } )" class="btn btn-info" style="font-size: 16px;">
                                <i class="fas fa-trash text-warning" style="font-size: 20px;"></i>
                                Remove
                            </a>
                        </div><!--card subtitle-->
                    </div><!--container-->
                </div><!--card-->
            </div><!--col-->
        } <!--end foreach-->
    </div><!--row-->
    <div class="row">
        <div class="col d-flex justify-content-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div><!--page navigation-->
</div><!--container-->

<br />
<br />

@section Scripts {

}


