@model IEnumerable<CAT.Models.PlayerIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionOfPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerTeam)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFullName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.PositionOfPlayer)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerTeam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlayerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlayerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })
            </td>
        </tr>
    }

</table>
