@model CAT.Models.MomentShowcase_Models.MomentShowcaseCreate

@{
    ViewBag.Title = "Create";
}

<!--header-->
<div class="container text-white p-2" style="min-width: 1000px;">
    <div class="row" style="min-height: 8vh;">
        <section class="col align-self-end">
            <h1 class="display-4">
                Add Asset to Collection
            </h1>
        </section>
        <div class="w-100"></div>
        <section class="col align-self-center">
            <span style="font-weight: 200; font-size: 18px;">
                To add an Asset to a Collection, please fill out the form below.
            </span>
        </section>
    </div><!--row-->
</div><!--container-->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container containerGradient p-3" style="min-width: 1000px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (TempData.ContainsKey("AlreadyAdded"))
            {
                <div class="container" style="min-width: 1000px;">
                    <div class="alert alert-danger carousel-fade" role="alert">
                        @ViewBag.AlreadyAdded
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        @TempData["AlreadyAdded"]
                    </div>
                </div>
            }
            @if (TempData.ContainsKey("SaveResult"))
            {
                <div class="container" style="min-width: 1000px;">
                    <div class="alert alert-danger carousel-fade" role="alert">
                        @ViewBag.SaveResult
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        @TempData["SaveResult"]
                    </div>
                </div>
            }
            <div class="row align-items-center d-flex justify-content-center">
                <div class="col-4">
                    <div class="form-group">
                        @Html.Label("Collection", new { @class = "control-label col" })
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.ShowcaseId, TempData["ShowcaseId"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShowcaseId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Asset", new { @class = "control-label col" })
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.MomentId, TempData["MomentId"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MomentId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col form-group pt-3">
                        <button type="submit" class="btn btn-info" style="font-size: 20px;">
                            Add
                            <i class="fas fa-basketball-ball text-warning" style="font-size: 24px;"></i>
                            Asset to
                            <i class="far fa-clone text-warning" style="font-size: 24px;"></i>
                            Collection
                        </button>
                    </div>
                </div><!--col-->
            </div><!--row-->
        </div><!--container-->
        <!--submit/nav buttons-->
        <div class="container p-3" style="min-width: 1000px;">
            <div class="row text-right">
                <div class="col">
                    <a class="btn btn-outline-info" style="font-size: 20px;" href="@Url.Content("~/Showcase/Index")">
                        <i class="fas fa-arrow-left text-warning" style="font-size: 24px;"></i> Back to Collections
                    </a>
                </div>
            </div>
        </div>
    </div><!--form-->
}

@section Scripts {

}