@model CAT.Models.Moment_Models.MomentDetails

@{
    ViewBag.Title = "Details";
}

<div class="container containerGradient card_container p-3" style="min-width: 1000px">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="card mx-auto box_shadow">
                <div class="picture_container">
                    <img class="card-img-top box_shadow" src="~/Images/500x500_placeholder.png" alt="Player Picture Placeholder">
                    @{var mint = (int)Model.MomentMint;}
                    <h1 class=" display-4 top_left_text text-white">
                        @Html.DisplayFor(model => model.MomentTier)
                    </h1>
                    <h1 class=" display-4 bottom_right_text @(mint == 1 ? "limited" : "common")">
                        @Html.DisplayFor(model => model.Mint)
                    </h1>
                </div> <!--picture container-->
                <div class="container p-2">
                    <h5 class="text-center text-info display-4">@Html.DisplayFor(model => model.PlayerFullName)</h5>
                    <hr class="bg-dark" />
                    <h5 class="text-center mb-2 text-muted">@Html.DisplayFor(model => model.MomentComplete)</h5>
                    <hr class="bg-dark" />
                    <div class="row text-center align-items-center">
                        <section class="col">
                            <h5>Price</h5>
                            <h5 class="text-muted">$@Html.DisplayFor(model => model.IndividualMomentPrice)</h5>
                            <hr class="bg-dark" />
                        </section>
                        <section class="col">
                            <h5>Serial/Edition Size</h5>
                            <h5 class="text-muted">@Html.DisplayFor(model => model.SerialComplete)</h5>
                            <hr class="bg-dark" />
                        </section>
                    </div>
                    
                    <h4 class="text-center mb-2">Collections</h4>
                    @foreach (var item in Model.Showcases)
                    {
                        var showcaseName = @Html.DisplayFor(modelItem => item.ShowcaseName);
                        var showcase = showcaseName.ToString();

                        <h5 class="text-center">
                            @Html.ActionLink(showcase, "Details", "Showcase", new { id = item.ShowcaseId }, htmlAttributes: new { @class = "text-info text-decoration-none" })
                        </h5>
                    }
                    <hr class="bg-dark" />
                    <h3 class="text-center mb-2">Asset Management</h3>
                    <p class="text-center text-muted">Manage Asset by selecting from one of the options below.</p>
                    <div class="row text-center">
                        <div class="col form-group">
                            <a href="@Url.Action("Edit", "Moment", new { id = Model.MomentId } )" class="btn btn-info" style="font-size: 20px;">
                                <i class="fas fa-edit text-warning" style="font-size: 24px;"></i>
                                Modify
                            </a>
                            <a href="@Url.Action("Create", "SoldMoment", new { id = Model.MomentId } )" class="btn btn-info" style="font-size: 20px;">
                                <i class="fas fa-coins text-warning" style="font-size: 24px;"></i>
                                Sell
                            </a>
                            <a href="@Url.Action("Delete", "Moment", new { id = Model.MomentId } )" class="btn btn-info" style="font-size: 20px;">
                                <i class="fas fa-trash text-warning" style="font-size: 24px;"></i>
                                Remove
                            </a>
                        </div><!--col-->
                    </div><!--row-->
                </div><!--card text-->
            </div><!--card-->
        </div><!--col-->
    </div><!--row-->
</div><!--card container-->
<!--nav button-->
<div class="container p-3" style="min-width: 1000px;">
    <div class="row text-right">
        <div class="col form-group">
            <a class="btn btn-outline-info" style="font-size: 20px;" href="@Url.Content("~/Moment/Index")">
                <i class="fas fa-arrow-left text-warning" style="font-size: 24px;"></i> Back to Assets
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

