@model CAT.Models.Moment_Models.MomentDetails

@{
    ViewBag.Title = "Details";
}

<div class="container containerGradient card_container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="card mx-auto" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <img class="card-img-top p-3" src="~/Images/500x500_placeholder.png" alt="Card image cap">
                <table class="text-info border">
                    <tr>
                        <th class="rotated">
                            @Html.DisplayFor(model => model.DisplayDateOfMoment)
                        </th>
                        <th>
                            @Html.DisplayFor(model => model.PlayerFirstName)
                        </th>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th>
                            @Html.DisplayFor(model => model.PlayerLastName)
                        </th>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </table>
                    @*<div class="card-body">
                        <div class="row text-primary text-left">
                            <div class="col border">

                            </div>
                            <div class="col border">
                                <h1>Player First</h1>
                                <h1>Player Last</h1>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <p>3</p>
                            </div>
                            <div class="col border">
                                <p>4</p>
                            </div>
                        </div>
                    </div>*@
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                
            </div>
        </div>
    </div>
</div>

<div>
    <h4>MomentDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MomentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MomentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndividualMomentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualMomentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MomentCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MomentCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayDateOfMoment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayDateOfMoment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MomentSet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MomentSet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MomentSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MomentSeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MomentTier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MomentTier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Showcases)
        </dt>

        @foreach (var item in Model.Showcases)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.ShowcaseName)
                @Html.ActionLink("View Showcase", "Details", "Showcase", new { id = item.ShowcaseId }, null)
            </dd>
        }
    </dl>
    <br />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MomentId }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Sell Moment", "Create", "SoldMoment", new { id = Model.MomentId }, null)
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

