@model IEnumerable<CAT.Models.Moment_Models.MomentIndex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="container bg-primary">
    <div class="row text-justify">
        <section class="col-xs-3">
            <h3>
                Asset Value:
                @if (Model.Any())
                {
                    @Html.DisplayFor(modelItem => Model.Last().DisplayMomentTotalValue)
                }
            </h3>
        </section>

        <section class="col-xs-3">
            <h3>
                Profit/Loss:
                @if (Model.Any())
                {
                    @Html.DisplayFor(modelItem => Model.Last().TotalMomentProfitLoss)
                }
            </h3>
        </section>

        <section class="col-xs-3">
            <h3>
                ROI:
                @if (Model.Any())
                {
                    @Html.DisplayFor(modelItem => Model.Last().DisplayROI)
                }
            </h3>
        </section>

        <section class="col-xs-3">
            <h3>
                Asset Count:
                @if (Model.Any())
                {
                    @Html.DisplayFor(modelItem => Model.Last().MomentCount)
                }
            </h3>
        </section>
    </div>
</div>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndividualMomentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentSet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentSerialNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayIndividualMomentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mint)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MomentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MomentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MomentId })
            </td>
        </tr>
    }

</table>



