@model IEnumerable<CAT.Models.Moment_Models.MomentIndex>

@{
    ViewBag.Title = "Index";
}

<div class="container shadow p-3 mb-5 lighttodark rounded-sm">
    <div class="row align-items-center" style="height: 100vh">
        <div class="col">
            <div class="row">
                <section class="col">
                    <h3>
                        Asset Value:
                        <br />
                        @if (Model.Any())
                        {
                            @Html.DisplayFor(modelItem => Model.Last().DisplayMomentTotalValue)
                        }
                    </h3>
                </section>

                <section class="col">
                    <h3>
                        Profit/Loss:
                        <br />
                        @if (Model.Any())
                        {
                            @Html.DisplayFor(modelItem => Model.Last().TotalMomentProfitLoss)
                        }
                    </h3>
                </section>

                <section class="col">
                    <h3>
                        ROI:
                        <br />
                        @if (Model.Any())
                        {
                            @Html.DisplayFor(modelItem => Model.Last().DisplayROI)
                        }
                    </h3>
                </section>

                <section class="col">
                    <h3>
                        Asset Count:
                        <br />
                        @if (Model.Any())
                        {
                            @Html.DisplayFor(modelItem => Model.Last().MomentCount)
                        }
                    </h3>
                </section>
            </div>
        </div>
    </div>  <!-- row -->
</div>  <!-- container -->

<br />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndividualMomentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentSet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MomentSerialNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayIndividualMomentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomentSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mint)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MomentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MomentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MomentId })
            </td>
        </tr>
    }

</table>



